{{ define "main"}}

  {{ partial "header.html" . }}

  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-three-fifths">
          <nav class="breadcrumb is-small">
            <ul>
              <li><a href="/">SPACEKEY</a></li>
              <li>
              {{ range .Params.tags }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
              </li>
            </ul>
          </nav>

          <h3 class="subtitle is-3">{{ .Title }}</h3>

          <div class="level">
            <div class="level-left">
            {{ if .Date }}
            {{ .Date.Format "January 2, 2006" }}
            {{ end }}
            </div>
          </div>
          
          <div class="content">
            {{ .Content }}
          </div>

          <div class="ad">
            {{ partial "ad.html" . }}
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "footer.html" . }}

{{ end }}