<footer>
  <div class="has-text-centered has-text-grey-light menuicons">
    <a href="https://twitter.com/dlspacekey">
      <span class="icon is-medium"><i class='fab fa-twitter fa-lg'></i></span>
    </a>
    <a href="mailto:info@spacekey.info">
      <span class="icon is-medium"><i class='fa fa-envelope fa-lg'></i></span>
    </a>
    <a href="/about">
      <span class="icon is-medium"><i class='fa fa-question fa-lg'></i></span>
    </a>
  </div>
  <div class="content has-text-centered">
    <p class="is-size-7 has-text-weight-light">© 2012-2019 Dalian Spacekey Information Technology Ltd.</p>
  </div>
</footer>

{{ partial "scripts.html" . }}